/*.modal-dialog {*/
  /*min-height: 100% !important;*/
  /*!*height: auto !important;*!*/
  /*width: 100% !important;*/
  /*height: 100% !important;*/
  /*margin: 0 !important;*/
  /*padding: 0 !important;*/
/*}*/

/*.modal-content {*/
  /*margin: 0 !important;*/
  /*height: 95% !important;*/
  /*min-height: 100% !important;*/
  /*border-radius: 0 !important;*/
/*}*/

/*.modal-body {*/
  /*height: 95% !important;*/
  /*min-height: 100% !important;*/
/*}*/

#MapModal{
  padding: 10px;
}

.full-screen {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
}
.body-style {
  padding: 0px;
  overflow: hidden;
}
.full-size {
  width: 100%;
  height: 100%;
}
.inverted {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/*.modal-dialog {*/
  /*width: 98% !important;*/
  /*height: 92% !important;*/
  /*padding: 0 !important;*/
/*}*/

/*.modal-content {*/
  /*height: 99% !important;*/
/*}*/