
#header .col-sm-12, #chrome-interval .col-sm-12, #information .col-sm-12, #footer .col-sm-12{
    outline: 0.25em ridge #666666;
    outline-offset: -0.25em;
}

#chrome-interval .btn, #information .btn{
    width:240px;
    height:80px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 20px;
}
/*.row {*/
    /*border: 1px solid #ff0000;*/
/*}*/

/*.row + .row {*/
    /*border-top:0 ;*/
/*}*/